@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Minecraft";
    src: url("./assets/fonts/minecraft-font/MinecraftRegular.otf");
}
@font-face {
    font-family: "Open Sans";
    src: url("./assets/fonts/Open_Sans/static/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    src: url("./assets/fonts/Open_Sans/static/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter/static/Inter-Regular.ttf");
}
@font-face {
    font-family: "Inter";
    font-weight: bold;
    src: url("./assets/fonts/Inter/static/Inter-Bold.ttf");
}

body {
    font-family: "Open Sans",sans-serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: rgb(38, 38, 38);
}



ul, ol, h1, h2, h3, h4, h5, h6 {
    @apply mt-8;
}
p, center, table {
    @apply my-4;
}


h1, h2, h3, h4, h5, h6 {
    @apply font-header font-bold;
}
h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}
h6 {
    @apply text-lg text-right;
}

/* `article > p:first-child` is for the volume synopses, which must be styled specially */
article > p:first-child, blockquote {
    @apply text-zinc-400 border-l border-zinc-400 ml-4 md:ml-8 pl-4;
}
article > p > a {
    @apply text-sky-500 focus:underline hover:underline;
}
code {
    @apply bg-zinc-100 text-red-500 px-2 py-1 rounded-sm;
}

ul {
    @apply list-disc;
}
ol {
    @apply list-decimal;
}
li {
    @apply ml-8 md:ml-12 my-2;
}

table {
    @apply w-3/4 m-auto;
}
tbody tr {
    @apply border-t border-zinc-300 odd:bg-zinc-50;
}
